*{
    margin: 0;
    padding: 0;

}
h1{
    text-align: center;
}
body{
    background-color: rgb(13, 97, 192);
}
.navegacion{
    width: 90%;
    margin: 30px  auto;
    background-color: yellow;
}
.menu ul {
    list-style: none;
     
}
.menu > li{
    position: relative;
    display: inline-block;

}
.menu li a{
    display: block;
    padding: 15px 20px;
    color:black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;


}
.menu li a :hover{
    color:rgb(172, 26, 26);

}
.submenu{
    position: absolute;
    background:rgb(104, 104, 6);
    width: 90%;
    display: none;

}
.submenu li a{
    display: block;
    width: 100%;
    padding: 15px;
    color:black;
    text-decoration: none;
}
.menu li:hover .submenu{
    display: block;
    visibility: visible;\
    opacity: 1;
}
p{
    margin-top: -10%;
    margin-left: 30%;
    margin-right: -100%;
    width: 41%;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    


    
}
img{
    margin-top: 5%;
    margin-left: 10%; 
}
img.logo{
  margin-top: -65%;
    height: 80px;
     
    
    padding: 0px;
    margin: 1px;
    margin-left: 45%;
    
    position: absolute;

}
 #entrenador {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -28%;
    margin-left: 60%;
    width: 20%;
    font-size: x-large;
    line-height: 50px;
    
}
section{
    background-color: aliceblue;
}